[submodule "SoloSpeech"]
	path = SoloSpeech
	url = https://github.com/WangHelin1997/SoloSpeech.git
[submodule "speechbrain"]
	path = speechbrain
	url = https://github.com/speechbrain/speechbrain.git
[submodule "wesep"]
	path = wesep
	url = https://github.com/wenet-e2e/wesep.git
